

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.open>a{
	background-image:none;
	background-color:	red;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
	background-image:none;	
	background-color:		#F4A460;
}
.navbar-brand, .navbar-default{
	
		background-image:none;	
	background-color:#FFCC66;
	
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
	
	color: black;
	background-color: #FFCC66;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
	
	
	background-color: #F4A460;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
	
background-color: #F4A460;	
	
}

/* цвет ссылок в navbar(меню) */

.navbar-default .navbar-nav>li>a { color: black;}


.well {
	
	    background-image: none;
    background-color: #C0C0C0;
	border-color: #C0C0C0;
}

body {
	
	background-color: #993333;
	
	
}



/* language */
#lv {
	background-image:url(../Images/Flags/lv.png);
	height: 32px;
	width: 32px;
}

#ru {
	background-image:url(../Images/Flags/ru.png);
	height: 32px;
	width: 32px;
}

#uk {
	background-image:url(../Images/Flags/uk.png);
	height: 32px;
	width: 32px;
}

a, a:focus, a:hover {color: black;}

/*.navbar-header {background-color: white;} */

h3 {text-align:center;}





.navbar-fixed-top {position:static;}

nav ul {
	font-family: Tahoma;
	font-size: 12px;

}

nav ul li {
	list-style-type: none;
	display: inline;
	color:#000000;
}



.hide{
	display:none;
}


main, nav{
	
	/*max-width: 800px;
	margin: 0px auto;*/
	padding:20px;
}


aside{
	background-color: green;
	margin-top: 0px;
	margin-bottom: 0px;
}

footer{
	padding:10px;
}

.navbar{
	margin-bottom: 20px;
	padding:0px;
}

